@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700;800&display=swap');


:root{
    --background: #FF5400;
    --text-color-1: #131318;
    --text-color-2: #424247;
    --p-color: rgba(19, 19, 24, 0.70);
}


.hamburger{
    display: none;
    cursor: pointer;
}
/* UNIVERSAL CSS  */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
    font-style: normal;
    line-height: normal;
}

.container{
    max-width: 81.25%;
    margin: 0 auto;
}

.btn-primary{
    color: #fff;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 800;
    padding: 0.875rem 2.1875rem;
    background: var(--background);
    border: 0;
    border-radius: 0.5rem;
    cursor: pointer;
}

.text-center{
    text-align: center;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.padding-bottom{
    padding-bottom: 1.5rem;
}
.flex{
    display: flex;
    align-items: center;
}

.section-gap{
    margin: 6.25rem 0;
}
.heading-text{
    font-size: 2.5rem;
    font-weight: 800;
    color: var(--text-color-1);
    padding-bottom: 1.5rem;
}

.p-width{
    color: var(--p-color);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.625rem;
    width: 70%;
    margin: 0 auto;
}
.p{
    color: var(--p-color);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.625rem;
}

.pb{
    padding-bottom: 1.5rem;
}
.pt{
    padding-top: 1.5rem;
}
.mt{
    margin-top: 1.5rem;
}
.mb{
    margin-bottom: 1.5rem;
}
/* HEADER SECTION  */

header{
    margin-top: 3.25rem;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 3rem;
}
.brand{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.brand h1{
    color: var(--text-color-1);
    font-size: 2.25rem;
    font-weight: 800;
}
.brand span{
    color: var(--background);
    font-size: 2.25rem;
    font-weight: 800;
}

.mb{
    margin-bottom: 6.5rem;
}

/* MENU BAR  */

.menu ul{
    display: flex;
    gap: 2.75rem;
}
.menu li{
    list-style-type: none;
}
.menu li:first-child a{
    color: var(--background);
}
.menu a{
    text-decoration: none;
    color: var(--text-color-2);
    font-size: 18px;
    font-weight: 400;
}


/* BANNER SECTION  */
.background{
    background-image: linear-gradient(rgba(0,0,0, 0.5), rgba(0,0,0,0.8)),url("./Images/Group\ 13\ \(1\)\ \(1\).png");
    border-radius: 1rem;
    background-repeat: no-repeat;
}
.banner-text h1{
    padding-top: 6.5rem;
    font-size: 4rem;
    font-weight: 800;
    color: #fff;
}
.banner-text p{
    width: 41.25rem;
    color: #FFF;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.625rem;
    margin: 0 auto 3rem;
}
.input-field{
    margin: 3rem 0rem 6.5rem;
    background: rgba(255, 255, 255, 0.30);
}
form{
    padding: 1rem;
}
form input, select {
    background: #fff;
    border-radius: 0.5rem;
    padding: 1.5rem 5.25rem 1rem 1rem;
    border: 0;
    margin-right: 1.5rem;
}
form input:focus, select:focus{
    outline: 0;
}
svg {
    padding: 0.5rem 0.25rem 0 0;
}





 /* SECTION OUR POP TOUR  */

.content{
    display: flex;
    align-items: stretch;
    gap: 3rem;
}
.text ul{
    margin-left: 2rem;
 }


 /* DESTINATION SECTION  */

 #destination p{
    width: 42rem;
    margin: 0 auto;
 }

 .img-grid{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1rem; 
    height: 100%;
 }

 
 .maldives{
    grid-column: 1 / 7;
 }
 .indonesia{
    grid-column: 7 / -1;
 }
 .srilanka{
    grid-column: 1 / 4;

 }
 .north-america{
    grid-column: 4 / 10;

 }
 .kashmir{
    grid-column: 10 / -1;

 }
 .bangladesh{
    grid-column: 1 / 5;

 }
 .banderban{
    grid-column: 5 / -1;

 }
.img-grid img{
    z-index: 1;
    width: 100%;
    height: 100%;
}
.app{
    background: var(--background);
}
.app-flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.app-flex h1, .app-flex p{
    padding: 1rem 0;
    color: #FFF;
}
.store{
    padding-bottom: 1rem;
}









 .img-grid h2{
    position: relative;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 1.75rem;
    font-weight: 800;
    z-index: 10;
 }

.cards{
    display: grid;
    grid-template-columns: 1fr 1fr ; 
    gap: 1.5rem;
}
.card-content h2{
    padding: 1rem 0;
}
.guarantee {
    grid-column: 1 / -1;
    display: flex;
    justify-content: center;
}
.card-content{
    padding: 2rem;
}
.card-1, .card-2{
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
}
.card-3{
    grid-column: 1/-1 ;
    width: 70%;
    margin: 0 auto;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(233, 68, 68, 0.05);
}


#perfect-place li{
    font-weight: 800;
    color: #131318;
}
.image{
    position: relative;
}
.image h2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFF;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 2.25rem;
}
.deal{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.deal button{
    width: 25%;
    margin: 0 auto;
}
.newsletter-section{
    display: flex;
    justify-content: stretch;
    align-items: center;
    gap: 1.5rem;
}
.newsletter-text{
    border: 1px solid var(--background);
    border-radius: 1rem;
    padding: 1.5rem 1.5rem 3rem 1.5rem;
}
.newsletter-text h3{
    color: var(--text-color-1);
    font-size: 1.5rem;
    font-weight: 800;
    padding-bottom: 1.5rem;
}

.newsletter-text p{
    color: #5A5A5D;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.625rem;
}
.newsletter-text hr{
    width: calc(100% - 1rem);
}
.newsletter-text form{
    padding: 0;
}

.newsletter-text form input{
    /* border: 1px solid #000; */
    display: block;
    background: rgba(19, 19, 24, 0.05);;
    width: calc(100% - 1rem);
    height: 3rem;
    margin: 0 0 1rem;
}


.newsletter-img{
    position: relative;
}
.newsletter-img .news-text{
    position: absolute;
    right: 1%;
    bottom: 11%;
    transform: rotate(-19.628deg);
    background: var(--background);
    border-radius: 0.5rem;
    padding: 1rem 1.5rem;
}

.news-text h3{
    color: #FFF;
    font-size: 1.5rem;
    font-weight: 400;
}



.news-text h1{
    color: #FFF;
    font-size: 2rem;
    font-weight: 800;
}



/* FOOTER SECTION  */

 footer{
    width: 100%;
    height: 100vh;
    margin-top: 5rem;
    background: rgba(19, 19, 24, 0.05);
    
 }
 .pt7{
    padding-top: 7rem;
 }
 footer p{
    width: 48.0625rem;
    margin: 0 auto;
 }
 hr{
    width: 54.5rem;
    margin: 1.5rem auto;
 }
 .icons{
    margin-top: 3rem;
 }
 .icons ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
 }

 .icons li{
    list-style-type: none;
 }
 .icons a{
    text-decoration: none;
 }
 .bottom{
    padding-bottom: 7rem;
 }
 .top{
    padding-top: 3rem;
 }









    /* MOBILE RESPONSIVE  */

    @media (width <= 600px) {

        .container{
            max-width: 81.25%;
            margin: 0 auto;
        }

        .btn-primary{
            font-size: 20px;
            font-weight: 800;
        }


        .hamburger{
            display: inline;
        }
        .menu{
            display: none;
        }
        .input-field form{
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 1rem;
            
        }
        .input-field{
            max-width: 75%;
            margin: 0 auto;
            border-radius: 1rem;
            margin-bottom: 2rem;
        }
        

        .input-field form input, .input-field form select, .input-field form button{
            /* max-width: 80%; */
            padding-right: 1rem;
            margin-right: 0;
        }
        .input-field button{
            text-align: center;
            padding-left: 1rem;
        }

        .banner-text h1{
            font-size: 22px;
            font-weight: 800;
        }
        .banner-text p{
            font-size: 0.875rem;
            font-weight: 400;
            line-height: 1.3125rem;
            padding: 0.5rem 1rem;
            width: 80%;
        }


        .content{
            display: flex;
            flex-direction: column;
            gap: 3rem;
        }
        .content .heading-text{
            font-size: 1.25rem;
            font-weight: 800;
        }
        .content p, .content ul li{
            font-size: 14px;
            font-weight: 400;
            line-height: 24px;
        }



        .image img{
            width: 100%;
            height: auto;
        }

        .img-grid{
            display: grid;
            grid-template-columns: 1fr;
            margin-top: 0;
            /* margin-bottom: 1rem; */
        }
        .maldives, .indonesia, .srilanka, .north-america, .kashmir, .bangladesh, .banderban{
            grid-column: 1 / -1;
        }


        .container .heading-text{
            font-size: 20px;
            font-weight: 800;
            padding-bottom: 1rem;
        }
        .container p{
            margin-bottom: 1rem;
        }

        .p-width, .p, .deal p{
            font-size: 0.875rem;
        }
        .deal p{
            width: 100%;
        }
        .deal button{
            display: none;
        }
        .bottom-gap{
            margin-bottom: 1rem;
        }

        .section-gap{
            margin-bottom: 1.5rem;
        }
        .section-gap-top{
            margin-top: 1.5rem;
        }

        .cards{
            display: grid;
            grid-template-columns: 1fr;
            gap: 1rem;
        }
        .card-3{
            width: 100%;
        }
        .card-1, .card-2, .card-3{
            grid-column: 1 / -1;
        }

        .cards h2, .heading, .heading-text{
            font-size: 1.25rem;
        }
        .cards p, .p, .p-width{
            font-size: 0.875rem;
        }
        .text p{
            margin: 0;
            width: 100%;
        }
        .store, .newsletter-section{
            display: flex;
            flex-direction: column;
            gap: 1rem;
        }

        .image .text-center{
            font-size: 1.25rem;
            font-weight: 700;
        }
        .image h2{
            width: 276px;
        }

        .newsletter-img img{
            position: relative;
            width: 100%;
            height: auto;
        }
        .news-text{
            position: absolute;
            right: 2%;
            bottom: 14%;
            z-index: 10;
        }
        .news-text h3{
            font-size: 0.875rem;
        }
        .news-text h1{
            font-size: 1rem;
        }

        
        .pt{
            width: 80%;
        }
        .icons{
            margin-top: 2rem;
            margin-bottom: 3rem;
        }
        .last{
            margin-top: 3rem;
        }
        .top{
            text-align: center;
            width: 100%;
        }
    }